asgiref==3.8.1
asttokens==2.4.1
decorator==5.1.1
Django==4.2.5
django-debug-toolbar==4.3.0
django-extensions==3.2.3
django-shell-plus==1.1.7
django-split-settings==1.2.0
executing==2.0.1
flake8==6.1.0
iniconfig==2.0.0
ipython==8.23.0
jedi==0.19.1
matplotlib-inline==0.1.6
mccabe==0.7.0
packaging==23.2
parso==0.8.4
pexpect==4.9.0
pluggy==1.4.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.17.2
pytest==8.0.0
python-dateutil==2.8.2
python-dotenv==1.0.1
requests==2.23.3
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.3
traitlets==5.14.2
typing_extensions==4.11.0
uWSGI==2.0.24
wcwidth==0.2.13
django-request-id==1.0.0
